{% extends 'main/base.html' %}

{% block title %}view list{% endblock %}

{% block content %}

        <h1>{{ls.name}}</h1>
        <form method="post" action="#">
            {% csrf_token %}
            {% for item in ls.item_set.all %}
            <div class="input-group mb-3">

                <input type="text", value="{{item.text}}" class="form-control">
                <input type="radio" name="delete_item" value="{{item.id}}">
            </div>

            {% endfor %}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit", name="newItem", value="newItem", class="btn btn-success">add item</button>
                    <button name="delete">Delete</button>
                </div>
                <input type="text", name="new" >
            </div>
        </form>

{% endblock %}